# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# Environment
.env

# Logs
logs/
*.log
*.db

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/
